* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: url(left.svg) no-repeat top left, url(right.svg) top right no-repeat, black;
    height: 100vh;
}

@font-face {
    font-family: "Kenao";
    src:
        local("Kenao"),
        url("Kenao.otf");
}

header {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

#icon {
    height: 5.25em;
}

.estrelinha {
    height: 2.5em;
    margin-top: 1.25rem;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0.938em;
    font-size: 20pt;
    margin-top: 1.2em;
    background: linear-gradient(90deg, #FDF435 -1.5%, #9C5CD4 43.54%, #2C2C2C 90.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Login_Index {
    text-transform: capitalize;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 20px 32px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 25%;
    margin-top: 10%;
    text-align: center;
    float: right;
    border-color: #724E94;
    color: #0038A7;
    margin-left: 10px;
}

#Login_Index:hover {
    background: #d6d200;
    background: linear-gradient(90deg, #FDF435 -1.5%, #9C5CD4 43.54%, #2C2C2C 90.51%);
    color: white;

}

main {
    display: flex;
}

#texto {
    width: 50%;
    color: white;
    margin-left: 5em;
    margin-top: 2em;
}

#texto p {
    /* width: 70%; */
    font-size: 1.75em;
    text-align: justify;
    margin-left: 5em;
    margin-top: 3em;
}

#afastar {
    margin-top: 5em;
    margin-left: 7em;
}

.slider {
    width: 50%;
}

.slider-wrapper {
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: 5em;
}

.slide {
    float: left;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    opacity: 0;
    transition: 1s;
}

.slider-wrapper>.slide:first-child {
    opacity: 1;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 5em;
}

#artistas {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px;
    gap: 15px;
    margin-left: 30em;
    margin-top: 2em;
    /* margin-right: 45em; */
}

#artistas img {
    width: 100%;
}

#artistas img:hover{
    width: 110%;
}

.fotos p {
    /* margin-right: 12.3em;
    margin-top: -0.4em; */
    color: white;
}

.fotos a {
    text-decoration: none;
    font-size: 1.4em;
}