@font-face {
    font-family: 'Kenao';
    src: url(Kenao.otf);
  }

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: url(perfilBottomLeft.png) no-repeat bottom right, url(perfilBottomRight.png) no-repeat bottom left, url(perfilTopLeft.png) no-repeat top right, url(perfilTopRight.png) no-repeat top left;
    background-size: auto;
    margin: 0;
    min-block-size: 100vh;
  
}


header {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
      
}

#icon {
    height: 5.25em;
}

.estrelinha {
    height: 2.5em;
    margin-top: 1.25rem;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(180deg, #E40303 9.9%, #FF8C00 29.36%, rgba(255, 237, 0, 0.58) 45.23%, #008026 53.87%, #004DFF 67.87%, #750787 81.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin: 15px;
    font-size: 20pt;
    margin-top: 27px;
  }
  
  header a:hover {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.253), 0 0 5px #ffffff;
  }

#cadastroLogin {
    text-align: center;
    margin-right: 1em;
}

.align {
    display: grid;
    place-items: center;
}

.grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;
    margin-top: 12em;
    margin-bottom: 12em;
}

.grid h1 {
    background: linear-gradient(180deg, #E40303 9.9%, #FF8C00 29.36%, rgba(255, 237, 0, 0.58) 45.23%, #008026 53.87%, #004DFF 67.87%, #750787 81.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2em;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.icons {
    display: none;
}

.icon {
    block-size: 1em;
    display: inline-block;
    inline-size: 1em;
    vertical-align: middle;
}

:root {
    --formGap: 0.875rem;
}

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

input[type="submit"] {
    cursor: pointer;
}

.infos {
    width: 100%;
    display: flex;
    flex-direction: row;
   
  }

  .subinfos {
    width: 30%;
    margin-top: 3%;
    margin-left: 10%;
    text-align: center;
    padding: 2px;
    margin-right: 3px;
    border: double 1px transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white),
      linear-gradient(to top, #E40303, #FF8C00, rgba(255, 237, 0, 0.58), #008026, #004DFF, #750787);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
  
  
  }

  #subinfos2{
    width: 35%;
    margin-top: 10%;
    margin-left: 10%;
    
    text-align: center;
    padding: 2px;

    
  }

  #visualizar, #imprimir{
    border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 15px;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  
  border-radius: 50px;
  border: 1px solid #E40303;
  color: black;

  }
  #visualizar:hover {
    background: #E40303;
    background: linear-gradient(90deg, #E40303 9.42%, #E40303 9.42%, #FF8C00 24.69%, #FFED00 43.01%, #007F26 59.59%, #004DFF 77.48%, #750787 91%);
    color: white;
  
  }

  #imprimir:hover {
    background: #E40303;
    background: linear-gradient(90deg, #E40303 9.42%, #E40303 9.42%, #FF8C00 24.69%, #FFED00 43.01%, #007F26 59.59%, #004DFF 77.48%, #750787 91%);
    color: white;
  }

  #textColor{
    font-family: "Kenao";
    background: linear-gradient(180deg, #E40303 9.9%, #FF8C00 29.36%, rgba(255, 237, 0, 0.58) 45.23%, #008026 53.87%, #004DFF 67.87%, #750787 81.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    margin: 5%;

  }

  #texto {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    color: #000;
  }
